.header 
{

    padding:20px 0;
    border-bottom: 1px solid $graycolor;
  
    .head{
        display: flex;
        flex-wrap: wrap;
        .logo
        {
            text-align: center;
            flex: 30%;
            @include xsMedia{
                flex: 100%;
            }
            h1
            {
                font-family: 'Dancing Script', cursive;
                color: $maincolor;
                text-transform: capitalize;
                margin: 0;
                padding: 0;
    
            }
            p
            {
                color: $graycolor;
                padding: 0;
                margin: 0;
            }
        }
        .nav
        {
            flex: 70%;
            @include prefixer(display,flex,webkit moz);
            justify-content:space-around;
            align-items: center;
            background: #fe346e;
            border-radius: 25px;
            margin: 0;
            padding: 0;
            overflow: hidden;
    
            li {
            
                
                a{
                    text-decoration: none;
                    text-transform: capitalize;
                    letter-spacing: 0.8px;
                    padding: 10px 0;     
                    color: #ffffff;   
                    @include prefixer(transition,all .2s linear, webkit moz); 
    
                    &:hover{
                        
                        color: $graycolor;
                    }
                }
    
            }
        }
    }
  



}